
/* 
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    
} */


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}